.navbar{ background: rgb(69, 131, 160);}
.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}
.nav-link{ margin-right: 1em !important;}
.nav-link:hover{ background: #f4f4f4; color: rgb(69, 131, 160); }
.navbar-collapse{ justify-content: flex-end;}
.navbar-toggler{  background:#fff !important;}
.card {
    max-width: 130px;
}
